:root {
  --bgColor: #eef1ed;
  --color_1: #CFE7C8;
  --color_2: #C6E7BD;
  --color_3: #A7CE9D;
  --color_4: #859B7F;
  --color_5: #448633;
  --color_6: #9ec295;
  --color_7: #8eaf85;
  --shadow: #e2f2dc;
  --bg_main: #f1f5f0;
  --search_default: #f0f0f0;
  --search_test: #777777;
  --bg_main_1: #fcfcfc;
  --mainColor: #ffa0a0;
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: var(--bgColor);
}

#header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 230px;
  background: var(--color_3);
}




#main {
  position: absolute;
  left: 0;
  right: 0;
  margin: 170px auto 660px auto;
  width: 440px;
  height: 460px;
  background: var(--bg_main_1);
  border-radius: 0.8%;
  border: 1px solid var(--shadow);
}

.autorisation {
  position: absolute;
  width: 70%;
  height: 70%;
  padding: 15%;
}

.autorisation .heading {
  color: black;
  font-weight: bold;
  font-size: 17px;
}

.autorisation p {
  color: var(--search_test);
  padding-bottom: 10%;
  font-size: 14px;
}


































































