:root {
  --bgColor: #eef1ed;
  --color_0: rgba(207, 231, 200, 0.25);
  --color_1: #CFE7C8;
  --color_2: #C6E7BD;
  --color_3: #A7CE9D;
  --color_4: #859B7F;
  --color_5: #448633;
  --color_6: #9ec295;
  --color_7: #8eaf85;
  --bg_main: #f1f5f0;
  --search_default: #f0f0f0;
  --search_test: #777777;
  --bg_main_1: #fcfcfc;
  --mainColor: #ffa0a0;
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: var(--bgColor);
}

#header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1152px;
  height: 40px;
  background: var(--color_3);
  border-radius: 0.2em;
}

.settings_button  {
  position: absolute;
  text-decoration: none;
  background: var(--volor_3);
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  border: none;
  transition: 0.3s background;
  color: var(--color_5);
  height: 100%;
  width: 30%;
  outline: none;
}

.settings_button:hover {
  background: var(--color_6);
}



.settings_button:active{
  background: var(--color_3);
}

.settings_button span {
  display: block;
  position: absolute;
  left: 5%;
  width: 5%;
  height: 5%;
  background: white;
  border-radius: 20%;
  transition: 0.2s;
}

.settings_button .span_1 {
  top: 30%;
}

.settings_button .span_2 {
  top: 45%;
}

.settings_button .span_3 {
  top: 60%;
}

.settings_button:hover .span_1 {
  top: 25%;
}

.settings_button:hover .span_3 {
  top: 65%;
}

.settings_button p {
  position: absolute;
  text-size-adjust: none;
  color: white;
  font-size: 16px;
  top: 28%;
  left: 17%;
}







#main_part {
  position: absolute;
  left: 0;
  right: 0;
  margin: 50px auto 10px auto;
  width: 1152px;
  height: calc(100% - 60px);
  background: var(--bg_main_1);
  border-radius: 1%;
}

#left_window {
  position: absolute;
  left: 0;
  width: 30%;
  height: 100%;
  background: var(--bg_main_1);
  border-right: 4px solid var(--bgColor);
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}

#left_window ul li {
  width: 90%;
  margin-left: 10%;
  font-size: 1.2em;
  list-style: none;
  padding-left: 10px;
}

#left_window ul li a {
  color: var(--color_4);
  text-decoration: none;
  transition: 0.6s color;
}

#left_window ul li a:hover {
  color: white;
  text-decoration: none
}


.search_box {
  position: absolute;
  right: 0;
  left: 0;
  margin: 16px auto 0 auto;
  width: 90%;
}

.cross {
  position: absolute;
  background: var(--search_test);
  height: 11px; 
  width: 3px;
  top: 12px;
  left: calc(100% - 20px);
}

.cross:after {
  position: absolute;
  content: "";
  height: 3px; 
  width: 11px;
  background: var(--search_test);
  left: -4px; 
  top: 4px;
}

.search {
  position: absolute;
  border: none;
  background: var(--search_default);
  right: 0;
  left: 0;
  width: calc(87% - 35px);
  height: 30px;
  color: var(--search_test);
  padding-left: 35px;
  font-size: 16px;
  border: 2px solid var(--bg_main_1);
  border-radius: 5px;
  transition: 0.15s background;
}

.search:focus {
  outline: none;
  border: 2px solid var(--search_default);
  background: var(--bg_main_1);
}

.search_box span {
  position: absolute;
  margin: 5px;
  transform: scale(-1, 1);
  color: var(--search_test);
  
}

.search_box span::selection {
  background: transparent;
}






#main_window {
  position: absolute;
  right: 0;
  width: 69.7%;
  height: 100%;
  background: var(--bg_main_1);
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}

.active_dialog {
  height: 90%;
  width: 89%;
  padding: 0px 10% 20px 10%;
}

#scrollbar {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}


/*
scrollbar style | begin
*/

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(150, 150, 150, 0.3);
  border-radius: 20px;
  margin-top: 10px;
  background-color: var(--bgColor);
  visibility: hidden;
}

*::-webkit-scrollbar {
  width: 7px;
  background-color: var(--bg_main_1);
  margin-top: 10px;
  visibility: hidden;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgba(50, 50, 50, 0.3);
  background-color: var(--color_3);
  margin-top: 10px;
  visibility: hidden;
}

.active_dialog:hover ::-webkit-scrollbar-track {
  visibility: visible;
}

.active_dialog:hover ::-webkit-scrollbar {
  visibility: visible;
}

.active_dialog:hover ::-webkit-scrollbar-thumb {
  visibility: visible;
}

/*
scrollbar style | end
*/



.overflow {
  height: 100%;
  width: 100%;
}

.element {
  padding-top: 50%;
  padding-right: 5%;
}

/*
dialogs | start
*/

.dialogs {
  position: absolute;
  height: calc(100% - 60px);
  width: 100%;
  bottom: 0;
  overflow-y: auto;
}

.dialog {
  position: relative;
  height: 60px;
  width: 100%;
  border: none;
  background: var(--bg_main_1);
  outline: none;
}

.dialog:hover {
  background: var(--color_0);
}

/*
.dialog:focus {
  background: var(--color_3);
}
*/

.dialog img {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 6px;
  top: 6px;
  border-radius: 24px;
}

.dialog_data {
  position: absolute;
  top: 0;
  right: 55px;
  width: calc(100% - 120px);
  height: 100%;
}

.dialog_name {
  position: absolute;
  left: 0;
  top: 15%;
  font-weight: bold;
  font-size: 13px;
}

.dialog_preview {
  position: absolute;
  left 0;
  top: 55%;
  font-size: 13px;
  color: var(--color_5)
}

.dialog_date {
  position: absolute;
  top: 15%;
  right: 1%;
  width: 55px;
  height: 100%;
  font-size: 11px;
  color: var(--search_test)
}

/*
.dialogs #dialog_1:focus #main_window {
  visibility: visible;
}
*/

/*
dialog | end
*/



























































